*{
    padding: 0px;
    margin: 0px;
}

.home-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title-container{}

.budget-container{
    display: flex;
    gap: 10px;
}

.budget-submit-container{}